@charset "UTF-8";
/****** Variables de couleur du site ******/
/****** Mixins ******/
/****** Version mobile ******/
/****** Général ******/
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

li {
  list-style: none;
}

/****** Loader ******/
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
.loader-section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: loader 3s ease-in forwards;
  -moz-animation: loader 3s ease-in forwards;
  /* Firefox */
  -webkit-animation: loader 3s ease-in forwards;
  /* Safari et Chrome */
  -o-animation: loader 3s ease-in forwards;
  /* Opera */
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #9356DC; /* Couleur principale du loader */
  border-top-color: #FF79DA; /* Couleur du dessus du loader */
  border-bottom-color: #99E2D0;
  z-index: 4;
  animation: spin 3000ms ease-in forwards;
  -moz-animation: spin 3000ms ease-in forwards;
  /* Firefox */
  -webkit-animation: spin 3000ms ease-in forwards;
  /* Safari et Chrome */
  -o-animation: spin 3000ms ease-in forwards;
  /* Opera */
}

/****** Header homepage ******/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.logo {
  height: 31px;
  margin: 20px auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.location-restaurant {
  flex-direction: row;
  align-items: center;
  height: 50px;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922), inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2509803922);
  background: #EAEAEA;
  gap: 17px;
  z-index: 1;
  margin: 0;
  width: 100%;
}

input {
  border: none;
  outline: none;
  background: none;
  width: 130px;
  font-weight: bold;
  font-size: 16px;
}
input::-moz-placeholder {
  color: black;
  width: 120px;
}
input::placeholder {
  color: black;
  width: 120px;
}

/****** Section info ******/
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  text-align: center;
}
.presentation p {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}
.presentation h1 {
  width: 75%;
}

/****** Boutton ******/
.btn {
  margin-top: 30px;
  margin-bottom: 57px;
  width: 228px;
}

.homepage__btn--purple {
  border-radius: 25px;
  background: linear-gradient(#ff79da -11%, #9356DC);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  transition: 1s;
}
.homepage__btn--purple:hover {
  box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
  transition: 1s;
}

.list-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.list-step .functioning {
  display: flex;
  flex-direction: column;
}
.list-step .choice {
  border: none;
  border-radius: 25px;
  width: 100%;
  height: 72px;
  background: #F6F6F6;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.list-step .choice .step-number {
  border-radius: 25px;
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  background: #9356DC;
  margin-left: -10px;
}
.list-step .choice .content {
  display: flex;
  gap: 25px;
  list-style: none initial;
}

.icon:hover {
  color: var(--secondary-color);
}

.list-restaurant {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.list-restaurant .restaurant {
  display: flex;
  flex-direction: column;
  width: 95%;
  border-radius: 20px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: 10px;
}
.list-restaurant .restaurant a {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}
.list-restaurant .restaurant .card {
  width: 100%;
}
.list-restaurant .restaurant .news {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  background-color: #99e2d0;
  width: 65px;
  height: 20px;
  color: #008766;
  padding: 5px;
}
.list-restaurant .restaurant img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.list-restaurant .restaurant .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

/* Coeur */
.favorite__restaurant {
  height: 2rem;
  width: 2rem;
  padding: 0;
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.favorite__restaurant .icon-fill {
  opacity: 0;
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s linear;
}
.favorite__restaurant .icon-empty {
  opacity: 1;
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  transition: 0.2s linear;
}
.favorite__restaurant:hover .icon-fill {
  opacity: 1;
}
.favorite__restaurant:hover .icon-empty {
  opacity: 0;
}

input[type=checkbox]#favorite1 {
  display: none;
}
input[type=checkbox]#favorite1:checked ~ label .icon-fill {
  background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
}
footer h3 {
  padding-left: 10px;
}
footer .list-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

/****** Pages restaurants ******/
/* Menu content */
/* Animation for icon confirmation pages menus */
@keyframes rotation {
  from {
    transform: rotate(-540deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* Gradual onset menus */
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(1.6rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
nav {
  display: flex;
  gap: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
}
nav .fa-arrow-left {
  padding: 5px;
}
nav img {
  width: 50%;
}

main {
  background-color: #F6F6F6;
}

.image-menu img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.main-background {
  position: relative;
  z-index: 1;
  border-radius: 40px 40px 0 0;
  background: #F6F6F6;
  margin-top: 165px;
}

.background {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.menus-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Menus */
  /* Choice menu */
}
.menus-content .menus {
  margin-top: 2rem;
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
  animation-name: apparition;
  animation-fill-mode: forwards;
}
.menus-content .menus:first-child {
  margin: 0;
  opacity: 0;
  animation-delay: 0s;
  animation-duration: 2s;
}
.menus-content .menus:nth-child(2) {
  margin: 0;
  opacity: 0;
  animation-delay: 0.3s;
  animation-duration: 2s;
}
.menus-content .menus:last-child {
  margin: 0;
  opacity: 0;
  animation-delay: 0.6s;
  animation-duration: 2s;
}
.menus-content .menus__title {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  font-weight: 400;
}
.menus-content .menus__title::after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.menus-content .choice-menu {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  margin: 1rem 0;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  width: 19.5rem;
  cursor: pointer;
}
.menus-content .choice-menu:last-child {
  margin-bottom: 0;
}
.menus-content .choice-menu__top {
  overflow: hidden;
  flex: 1;
}
.menus-content .choice-menu__title {
  margin: 0;
  overflow: hidden;
  font-size: 1.1rem;
  padding-bottom: 0.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus-content .choice-menu__description {
  margin: 0;
  font-size: 0.9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus-content .choice-menu__price {
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.menus-content .choice-menu__okay {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.menus-content .choice-menu:hover .choice-menu__okay {
  margin-right: -1rem;
}
.menus-content .choice-menu__icon {
  height: 1.6rem;
  width: 1.3rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
.menus-content .choice-menu:hover .choice-menu__icon {
  animation-duration: 0.8s;
  animation-name: rotation;
}
.menus-content .choice-menu__icons {
  color: #99E2D0;
}

.cta {
  width: 50%;
  padding-left: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/****** Version tablette et desktop ******/
/****** Homepage ******/
@media (min-width: 768px) {
  body {
    width: 100%;
  }
  .list-step {
    display: flex;
    flex-direction: column;
  }
  .list-step .functioning {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .list-choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list-choice .restaurant {
    width: 45%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer .title-footer {
    padding: 0 30px 0 40px;
  }
  footer .list-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}/*# sourceMappingURL=index.css.map */