/****** Variables de couleur du site ******/
$primary-color: #9356DC;
$secondary-color: #ff79da;
$tertiairy-color:#99e2d0;
$quaternary-color:#008766;
$quinary-color: #003A68;
$background-grey-color: #EAEAEA;
$background-lightgrey-color: #F6F6F6;
$background-bold-grey:#353535;

/****** Mixins ******/
@mixin bouton-violet {
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 72px;
    background: $background-lightgrey-color; 
}

@mixin round-number {
    border-radius: 25px;
    padding:10px;
    padding-top:4px;
    padding-bottom:4px;
    color:white;
    background:$primary-color;
}

@mixin favorite-restaurant {
    background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}

@mixin favorite-icone-empty {
    opacity: 1;
    font-size: 1.6rem;
    cursor: pointer;  
    position: absolute;
}

@mixin favorite-icone-fill {
    opacity: 0;
    font-size: 1.6rem;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


/****** Version mobile ******/


/****** Général ******/

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    font-family: "Roboto",sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

li {
    list-style: none;
}

/****** Loader ******/

@keyframes spin {
    0% {
      -webkit-transform:rotate(0deg);
      opacity:1;
     }
    
      100% {
      -webkit-transform:rotate(360deg);
      opacity:0;
      z-index:-1;
    
      }
    
    }
    @keyframes loader {
        0% {
          opacity:1;
        }
      
        100% {
        opacity:0;
        z-index:-2;
      }
      
}

.loader-section {
        background-color:white;
          display: -webkit-box;
          display: -ms-flexbox;
          display:flex;
          -webkit-box-pack:center;
          -ms-flex-pack:center;
          justify-content:center;
          -webkit-box-align:center;
          -ms-flex-align:center;
          align-items:center;
        z-index:4;
        position:fixed;
          top: 0;
          left:0;
          width:100%;
          height:100vh;
          animation: loader 3s ease-in forwards;
          -moz-animation: loader 3s ease-in forwards;
       /* Firefox */
      -webkit-animation: loader 3s ease-in forwards;
          /* Safari et Chrome */
          -o-animation: loader	3s	ease-in	forwards;
      /* Opera */    
}
      
    
.loader {  
        width:100px;
          height:100px;
          border-radius:50%;
          border:10px solid #9356DC;/* Couleur principale du loader */
        border-top-color:#FF79DA;/* Couleur du dessus du loader */
          border-bottom-color:#99E2D0;
          z-index:4;
          animation: spin 3000ms ease-in forwards;
          -moz-animation: spin 3000ms ease-in forwards;
      /* Firefox */
          -webkit-animation: spin 3000ms ease-in forwards;
      /* Safari et Chrome */
      -o-animation: spin 3000ms ease-in forwards;
      /* Opera */
}

/****** Header homepage ******/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.logo {
    height: 31px;
    margin: 20px auto;
   }
.navbar{
    display: flex;
    flex-direction: column;
    width: 100%;  
    justify-content: center;
}
 
.location-restaurant {
    flex-direction: row;
    align-items: center; 
    height: 50px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040, 
    inset 0px 2px 5px 0px #00000040;       
    background: $background-grey-color;
    gap: 17px;
    z-index: 1; 
    margin: 0; 
    width: 100%;
}

input {
    border: none;
    outline: none;
    background: none; 
    width: 130px;
    font-weight: bold;
    font-size: 16px;
    
    &::placeholder{
        color: black; 
        width: 120px;
    }    
}

/****** Section info ******/

.presentation  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background-lightgrey-color;
    text-align: center;
    & p {
        font-weight: 300;
        font-size: 18px;
        margin: 0;
    }
    & h1 {
        width: 75%;
        
    }
}

/****** Boutton ******/

.btn {
    margin-top: 30px;
    margin-bottom: 57px;
    width: 228px;
}
    
.homepage__btn--purple {
    border-radius: 25px;
    background: linear-gradient($secondary-color -11%, $primary-color);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    transition: 1s;
    &:hover  {
        box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.25);
       opacity: 0.80;   
        transition: 1s;   
    }                
}
    
.list-step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    .functioning {
        display: flex;
        flex-direction: column;
    }
    .choice {
        @include bouton-violet();
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        gap: 25px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        .step-number {
            @include round-number();
            margin-left: -10px;
        }
        .content {
            display: flex;
            gap: 25px;
            list-style: none initial;
        }
    } 
}     

.icon:hover {
    color: var(--secondary-color);
}

.list-restaurant {
    background-color: $background-grey-color;
    display: flex;
    flex-direction: column;
    width: 100%;
    .restaurant {
        display: flex;
        flex-direction: column;
        width: 95%;
        border-radius: 20px;
        background-color: white;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 20px;
        margin-left: 10px;
        & a {
            display: flex;
            flex-direction: column;
            border-radius: 25px;
        }
        .card {
            width: 100%;
        }
        .news {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 1;
            background-color: $tertiairy-color;
            width: 65px;
            height: 20px;
            color: $quaternary-color;
            padding: 5px;
        }
        & img {
            width: 100%;
            height: 170px;
            object-fit: cover;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        .card-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
        }
    }
} 

/* Coeur */

.favorite__restaurant{ 
    height: 2rem;
    width: 2rem;
    padding: 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .icon-fill{
        @include favorite-icone-fill;
        transition: 0.2s linear;     
    }
    
    .icon-empty{
        @include favorite-icone-empty;
        transition: 0.2s linear;     
    }

    &:hover .icon-fill{
        opacity: 1;
    }

    &:hover .icon-empty{
        opacity: 0;
    }
}    

input[type="checkbox"]#favorite1 {
    display: none;

    &:checked {
      ~ label {
        .icon-fill {
          @include favorite-restaurant;
        }
      }
    }
  }

footer {
   background-color: $background-bold-grey;
   color: white;
   display: flex;
   flex-direction: column;
   & h3 {
    padding-left: 10px;
   }
   .list-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
   a {
    color: white; // Cette ligne colore les liens en blanc
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
   }
}

/****** Pages restaurants ******/

/* Menu content */
/* Animation for icon confirmation pages menus */

@keyframes rotation {
    from {
        transform: rotate(-540deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/* Gradual onset menus */

@keyframes apparition {
    0% {
        opacity: 0;
        transform: translateY(1.6rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

 nav {
        display: flex;
        gap: 130px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
      & .fa-arrow-left {
        padding: 5px;
      }
      & img {
        width: 50%;
      }
}

main {
    background-color: #F6F6F6;
}

.image-menu img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: absolute;
}

.main-background {
    position: relative;
    z-index: 1;
    border-radius: 40px 40px 0 0;
    background: #F6F6F6;
    margin-top: 165px;
}

.background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px ;
}

.menus-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Menus */
    .menus {
        margin-top: 2rem;
        max-width: 100%;
        overflow: hidden;
        padding: 0 1rem;
        animation-name: apparition;
        animation-fill-mode: forwards;
        &:first-child {
            margin: 0;
            opacity: 0;
            animation-delay: 0s;
            animation-duration: 2s;
        }
        &:nth-child(2) {
            margin: 0;
            opacity: 0;
            animation-delay: .3s;
            animation-duration: 2s;
        }
        &:last-child {
            margin: 0;
            opacity: 0;
            animation-delay: .6s;
            animation-duration: 2s;
        }
        &__title {
            position: relative;
            text-transform: uppercase;
            padding-bottom: .5rem;
            font-weight: 400;
            &::after {
                content: "";
                width: 3rem;
                height: .2rem;
                background-color: #99E2D0
                ;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }


/* Choice menu */
.choice-menu {
        background-color: #fff;
        padding: 1rem;
        display: flex;
        margin: 1rem 0;
        border-radius: .75rem;
        overflow: hidden;
        box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, .1);
        width: 19.5rem;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
        &__top {
            overflow: hidden;
            flex: 1;
        }
        &__title {
            margin: 0;
            overflow: hidden;
            font-size: 1.1rem;
            padding-bottom: .25rem;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &__description {
            margin: 0;
            font-size: .9rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &__price {
            font-weight: 600;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
        &__okay {
            background-color:#99E2D0
            ;
            margin: -1rem -5rem -1rem 1rem;
            width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .5s;
        }
        &:hover .choice-menu__okay {
            margin-right: -1rem;
        }
        &__icon {
            height: 1.6rem;
            width: 1.3rem;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
        }
        &:hover .choice-menu__icon {
            animation-duration: .8s;
            animation-name: rotation;
        }
        &__icons {
            color: #99E2D0;
        }
    }
}

.cta {
    width: 50%;
    padding-left: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}

   
/****** Version tablette et desktop ******/
/****** Homepage ******/
@media (min-width: 768px) {
body {
    width: 100%;
}

    .list-step {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-left: 120px;
    .functioning {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.list-restaurant {
    padding-left: 120px;
    width: initial;
    .list-choice {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    .restaurant {
        width: 45%;
        margin: 20px;
    }
  }    
}

footer {
    display: flex;
    flex-direction: row-reverse;
    .title-footer {
        padding: 0 30px 0 40px;
    }
    .list-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
  }
} 

/****** Menu page ******/
.img-logo {
    padding-left: 400px;
}

.container {
    background-color: white;
}

.main-background {
    width: 75%;
    margin: auto;
    margin-top: 165px;
    .background {
        padding: 0 15px;
    }
    .menus-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
  
.cta {
    width: 25%;
    padding-left: 365px;
    padding-bottom: 30px;
    margin: 25px 0 0 0;
    }

    
