@charset "UTF-8";
/****** Variables de couleur du site ******/
/****** Mixins ******/
/****** Version mobile ******/
/****** Général ******/
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

/****** Header homepage ******/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.logo {
  height: 31px;
  margin: 20px auto;
  width: 90%;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.location-restaurant {
  flex-direction: row;
  align-items: center;
  height: 50px;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922), inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2509803922);
  background: #EAEAEA;
  gap: 17px;
  z-index: 1;
  margin: 0;
  width: 100%;
}

input {
  border: none;
  outline: none;
  background: none;
  width: 130px;
  font-weight: bold;
  font-size: 16px;
}
input::-moz-placeholder {
  color: black;
  width: 120px;
}
input::placeholder {
  color: black;
  width: 120px;
}

/****** Section info ******/
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  text-align: center;
}
.presentation p {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}
.presentation h1 {
  width: 75%;
}

/****** Boutton ******/
.btn {
  margin-top: 30px;
  margin-bottom: 57px;
  width: 228px;
}

.homepage__btn--purple {
  border-radius: 25px;
  background: linear-gradient(#ff79da -11%, #9356DC);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  transition: 1s;
}
.homepage__btn--purple:hover {
  box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
  transition: 1s;
}

.list-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.list-step .functioning {
  display: flex;
  flex-direction: column;
}
.list-step .choice {
  border: none;
  border-radius: 25px;
  width: 100%;
  height: 72px;
  background: #F6F6F6;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.list-step .choice .step-number {
  border-radius: 25px;
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  background: #9356DC;
  margin-left: -10px;
}
.list-step .choice .content {
  display: flex;
  gap: 25px;
  list-style: none initial;
}

.icon:hover {
  color: var(--secondary-color);
}

.list-restaurant {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.list-restaurant .restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.list-restaurant .restaurant a {
  display: flex;
  flex-direction: column;
}
.list-restaurant .restaurant .card {
  width: 80%;
}
.list-restaurant .restaurant img {
  width: 100%;
  height: 170px;
}
.list-restaurant .restaurant .card-news {
  display: flex;
}

footer {
  background-color: #353535;
  display: flex;
}

.footer {
  color: white;
}/*# sourceMappingURL=index.css.map */