/****** Variables de couleur du site ******/
$primary-color: #9356DC;
$secondary-color: #ff79da;
$tertiairy-color:#99e2d0;
$quaternary-color:#008766;
$quinary-color: #003A68;
$background-grey-color: #EAEAEA;
$background-lightgrey-color: #F6F6F6;
$background-bold-grey:#353535;

/****** Mixins ******/
@mixin bouton-violet {
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 72px;
    background: $background-lightgrey-color; 
}

@mixin round-number {
    border-radius: 25px;
    padding:10px;
    padding-top:4px;
    padding-bottom:4px;
    color:white;
    background:$primary-color;
}

@mixin favorite-restaurant {
    background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}

@mixin favorite-icone-empty {
    opacity: 1;
    font-size: 1.6rem;
    cursor: pointer;  
    position: absolute;
}

@mixin favorite-icone-fill {
    opacity: 0;
    font-size: 1.6rem;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


/****** Version mobile ******/
/****** Général ******/

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    font-family: "Roboto",sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

li {
    list-style: none;
}

/****** Header homepage ******/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.logo {
    height: 31px;
    margin: 20px auto;
   }
.navbar{
    display: flex;
    flex-direction: column;
    width: 100%;  
    justify-content: center;
}
 
.location-restaurant {
    flex-direction: row;
    align-items: center; 
    height: 50px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040, 
    inset 0px 2px 5px 0px #00000040;       
    background: $background-grey-color;
    gap: 17px;
    z-index: 1; 
    margin: 0; 
    width: 100%;
}

input {
    border: none;
    outline: none;
    background: none; 
    width: 130px;
    font-weight: bold;
    font-size: 16px;
    
    &::placeholder{
        color: black; 
        width: 120px;
    }    
}

/****** Section info ******/

.presentation  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-lightgrey-color;
    text-align: center;
    & p {
        font-weight: 300;
        font-size: 18px;
        margin: 0;
    }
    & h1 {
        width: 75%;
        
    }
}

/****** Boutton ******/

.btn {
    margin-top: 30px;
    margin-bottom: 57px;
    width: 228px;
}
    
.homepage__btn--purple {
    border-radius: 25px;
    background: linear-gradient($secondary-color -11%, $primary-color);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    transition: 1s;
    &:hover  {
        box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.25);
       opacity: 0.80;   
        transition: 1s;   
    }                
}
    
.list-step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    .functioning {
        display: flex;
        flex-direction: column;
    }
    .choice {
        @include bouton-violet();
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        gap: 25px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        .step-number {
            @include round-number();
            margin-left: -10px;
        }
        .content {
            display: flex;
            gap: 25px;
            list-style: none initial;
        }
    } 
}     

.icon:hover {
    color: var(--secondary-color);
}

.list-restaurant {
    background-color: $background-grey-color;
    display: flex;
    flex-direction: column;
    width: 100%;
    .restaurant {
        display: flex;
        flex-direction: column;
        width: 95%;
        border-radius: 20px;
        background-color: white;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 20px;
        margin-left: 10px;
        & a {
            display: flex;
            flex-direction: column;
            border-radius: 25px;
        }
        .card {
            width: 100%;
        }
        .news {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 1;
            background-color: $tertiairy-color;
            width: 65px;
            height: 20px;
            color: $quaternary-color;
            padding: 5px;
        }
        & img {
            width: 100%;
            height: 170px;
            object-fit: cover;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        .card-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
} 

/* Coeur */

.favorite__restaurant{ 
    height: 2rem;
    width: 2rem;
    padding: 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .icon-fill{
        @include favorite-icone-fill;
        transition: 0.2s linear;     
    }
    
    .icon-empty{
        @include favorite-icone-empty;
        transition: 0.2s linear;     
    }

    &:hover .icon-fill{
        opacity: 1;
    }

    &:hover .icon-empty{
        opacity: 0;
    }
}    

input[type="checkbox"]#favorite1 {
    display: none;

    &:checked {
      ~ label {
        .icon-fill {
          @include favorite-restaurant;
        }
      }
    }
  }

footer {
   background-color: $background-bold-grey;
   color: white;
   display: flex;
   flex-direction: column;
   & h3 {
    padding-left: 10px;
   }
   .list-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
   a {
    color: white; // Cette ligne colore les liens en blanc
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
   }
}

/****** Pages restaurants ******/

.image-menu {
    object-fit: cover;
    width: 100%;
}
   
